.group-7766 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 21.53px;
  display: flex;
  height: 43px;
  justify-content: flex-end;
  left: 208px;
  min-width: 43px;
  padding: 6.5px 6.5px;
  position: absolute;
  top: 201px;
}

.frame-5 {
  height: 29px;
  width: 29px;
}

.group-7766.group-7766-1 {
  left: 210px;
}

