.group-7974 {
  align-items: flex-end;
  background-color: var(--shocking-pink);
  border-radius: 27px;
  display: flex;
  height: 54px;
  justify-content: flex-end;
  left: 20px;
  min-width: 54px;
  padding: 16.0px 18.6px;
  position: absolute;
  top: 33px;
}

.p {
  height: 21px;
  width: 15px;
}

.group-7974.group-7974-1 {
  left: 22px;
}

