.frame-7825 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  left: 15px;
  position: absolute;
  top: 1071px;
  width: 901px;
}

.frame-7825.frame-7825-1 {
  top: 996px;
}

.frame-7825.frame-7825-2 {
  left: 21px;
  top: 976px;
}

