.ads-on-air-2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  gap: 270px;
  height: 785px;
  overflow: hidden;
  width: 100%;
}

.group-7781-10 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 146px;
  margin-left: -1787px;
  margin-top: 502px;
  min-height: 308px;
  position: relative;
  width: 1440px;
}

.rectangle-2394-10 {
  background-color: var(--white);
  border: 1px none;
  box-shadow: 0px 4px 20px #00000026;
  height: 117px;
  width: 1440px;
}

.overlap-group5-6 {
  height: 2432px;
  margin-top: -120px;
  position: relative;
  width: 793px;
}

.rectangle-2463-8 {
  background-color: var(--black);
  border: 1px none;
  height: 2408px;
  left: 77px;
  position: absolute;
  top: 24px;
  width: 100%;
}

.ellipse-container-6 {
  height: 212px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}

.ellipse-441-6 {
  background-color: var(--royal-blue);
  border: 1px none;
  border-radius: 87.5px;
  height: 175px;
  left: 0;
  position: absolute;
  top: 0;
  width: 175px;
}

.ellipse-442-6 {
  background-color: var(--shocking-pink);
  border: 1px none;
  border-radius: 69.5px;
  height: 139px;
  left: 133px;
  position: absolute;
  top: 73px;
  width: 139px;
}

.rectangle-2396-8 {
  border: 1px none;
  height: 20px;
  left: 229px;
  position: absolute;
  top: 9px;
  width: 98px;
}

.rectangle-2448-7 {
  background-color: var(--mid-gray);
  border: 1px none;
  height: 17px;
  left: 220px;
  position: absolute;
  top: 12px;
  width: 139px;
}

.movecom-8 {
  left: 229px;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
}

.parc-paragon-the-9-10 {
  left: 95px;
  letter-spacing: 0;
  position: absolute;
  top: 142px;
  width: 698px;
}

.address-chaturathit-3 {
  left: 110px;
  letter-spacing: 0;
  position: absolute;
  top: 227px;
  width: 466px;
}

.group-7629-3 {
  height: 9px;
  left: 95px;
  position: absolute;
  top: 228px;
  width: 10px;
}

.text-14 {
  left: 204px;
  letter-spacing: 0;
  position: absolute;
  top: 278px;
  width: 357px;
}

.preview-3 {
  left: 93px;
  letter-spacing: 0;
  position: absolute;
  top: 345px;
}

.mask-group-29 {
  height: 147px;
  left: 77px;
  position: absolute;
  top: 386px;
  width: 100%;
}

.group-7951-9 {
  background-color: var(--steel-gray);
  height: 299px;
  left: 76px;
  position: absolute;
  top: 533px;
  width: 100%;
}

.overlap-group4-11 {
  align-items: center;
  background-color: var(--white);
  border-radius: 39px;
  display: flex;
  gap: 12px;
  height: 32px;
  left: 93px;
  min-width: 101px;
  padding: 0 4px;
  position: absolute;
  top: 271px;
}

.overlap-group-37 {
  align-items: flex-start;
  background-color: var(--tory-blue);
  border-radius: 13px;
  display: flex;
  height: 26px;
  min-width: 26px;
  padding: 7px 5px;
}

.group-7761-2 {
  height: 10px;
  width: 15px;
}

.onair-1 {
  letter-spacing: 0;
  margin-bottom: 0.84px;
  min-height: 17px;
  width: 53px;
}

