.upload-status-3 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  gap: 257px;
  height: 1093px;
  overflow: hidden;
  width: 100%;
}

.group-7781-9 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 418px;
  margin-left: -1720px;
  margin-top: 502px;
  min-height: 625px;
  position: relative;
  width: 1386px;
}

.rectangle-2394-9 {
  background-color: var(--white);
  border: 1px none;
  box-shadow: 0px 4px 20px #00000026;
  height: 164px;
  width: 1386px;
}

.overlap-group5-5 {
  height: 2432px;
  margin-top: -120px;
  position: relative;
  width: 793px;
}

.rectangle-2463-7 {
  background-color: var(--black);
  border: 1px none;
  height: 2408px;
  left: 77px;
  position: absolute;
  top: 24px;
  width: 100%;
}

.ellipse-container-5 {
  height: 212px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}

.ellipse-441-5 {
  background-color: var(--royal-blue);
  border: 1px none;
  border-radius: 87.5px;
  height: 175px;
  left: 0;
  position: absolute;
  top: 0;
  width: 175px;
}

.ellipse-442-5 {
  background-color: var(--shocking-pink);
  border: 1px none;
  border-radius: 69.5px;
  height: 139px;
  left: 133px;
  position: absolute;
  top: 73px;
  width: 139px;
}

.rectangle-2396-7 {
  border: 1px none;
  height: 20px;
  left: 223px;
  position: absolute;
  top: 9px;
  width: 98px;
}

.rectangle-2448-6 {
  background-color: var(--mid-gray);
  border: 1px none;
  height: 17px;
  left: 214px;
  position: absolute;
  top: 12px;
  width: 139px;
}

.movecom-7 {
  left: 223px;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
}

.parc-paragon-the-9-9 {
  left: 95px;
  letter-spacing: 0;
  position: absolute;
  top: 142px;
  width: 698px;
}

.address-chaturathit-2 {
  left: 110px;
  letter-spacing: 0;
  position: absolute;
  top: 227px;
  width: 466px;
}

.group-7629-2 {
  height: 13px;
  left: 95px;
  position: absolute;
  top: 224px;
  width: 10px;
}

.text-13 {
  left: 201px;
  letter-spacing: 0;
  position: absolute;
  top: 278px;
  width: 357px;
}

.preview-2 {
  left: 93px;
  letter-spacing: 0;
  position: absolute;
  top: 345px;
}

.mask-group-28 {
  height: 147px;
  left: 77px;
  position: absolute;
  top: 386px;
  width: 361px;
}

.group-7951-7 {
  background-color: var(--steel-gray);
  height: 299px;
  left: 76px;
  position: absolute;
  top: 533px;
  width: 100%;
}

.group-7953-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  left: 93px;
  min-height: 207px;
  position: absolute;
  top: 582px;
  width: 534px;
}

.booking-date-15 {
  letter-spacing: 0;
  min-height: 15px;
  width: 357px;
}

.group-7952-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 1px;
  min-height: 178px;
  width: 533px;
}

.overlap-group-36 {
  height: 60px;
  position: relative;
  width: 531px;
}

.rectangle-2480-5 {
  background-color: var(--white);
  border: 1px none;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 339px;
}

.place-26 {
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 357px;
}

.date-37 {
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
  width: 357px;
}

.end-8 {
  left: 174px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 357px;
}

.date-38 {
  left: 174px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
  width: 357px;
}

.line-628-5 {
  height: 49px;
  left: 164px;
  position: absolute;
  top: 5px;
  width: 1px;
}

.overlap-group3-12 {
  height: 98px;
  position: relative;
  width: 505px;
}

.group-7951-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 98px;
  position: absolute;
  top: 0;
  width: 505px;
}

.overlap-group2-14 {
  height: 15px;
  position: relative;
  width: 429px;
}

.march-62022-9 {
  left: 72px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 357px;
}

.uplode-date-9 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 357px;
}

.flex-row-8 {
  align-items: flex-end;
  display: flex;
  gap: 3px;
  height: 38px;
  margin-top: 12px;
  min-width: 489px;
}

.flex-col-28 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 38px;
  width: 80px;
}

.flex-col-item-11 {
  letter-spacing: 0;
  min-height: 15px;
}

.overlap-group1-16 {
  height: 37px;
  position: relative;
  width: 406px;
}

.your-art-work-will-3 {
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 388px;
}

.number-18 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 22px;
  width: 357px;
}

.flex-row-9 {
  align-items: flex-start;
  display: flex;
  gap: 13px;
  height: 26px;
  margin-top: 7px;
  min-width: 456px;
}

.min-loop-6 {
  letter-spacing: 0;
  min-height: 15px;
  min-width: 55px;
}

.x2-minutes-per-1-available-pack-3 {
  letter-spacing: 0;
  min-height: 26px;
  width: 388px;
}

.address-8 {
  left: 52px;
  letter-spacing: 0;
  position: absolute;
  top: 27px;
  width: 357px;
}

.overlap-group4-10 {
  height: 32px;
  left: 93px;
  position: absolute;
  top: 271px;
  width: 113px;
}

.approved-1 {
  left: 35px;
  letter-spacing: 0;
  position: absolute;
  top: 7px;
  width: 78px;
}

