.group-7764 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 21.53px;
  display: flex;
  height: 43px;
  left: 24px;
  min-width: 43px;
  padding: 8.6px 10.8px;
  position: absolute;
  top: 201px;
}

.frame-3 {
  height: 22px;
  width: 22px;
}

.group-7764.group-7764-1 {
  left: 26px;
}

