.group-7834 {
  height: 15px;
  margin-left: -292px;
  min-width: 432px;
  position: relative;
}

.available-pack {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.number-9 {
  left: 87px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 341px;
}

.group-7834.group-7834-1,
.group-7834.group-7834-3,
.group-7834.group-7834-5 {
  margin-right: unset;
}

