.upload-artwork {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  gap: 325px;
  height: 1603px;
  overflow: hidden;
  width: 100%;
}

.group-7781-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 949px;
  margin-left: -1730px;
  margin-top: 502px;
  min-height: 1246px;
  position: relative;
  width: 1394px;
}

.rectangle-2394-5 {
  background-color: var(--white);
  border: 1px none;
  box-shadow: 0px 4px 20px #00000026;
  height: 254px;
  width: 1394px;
}

.overlap-group5-4 {
  height: 2279px;
  margin-top: -110px;
  position: relative;
  width: 1216px;
}

.rectangle-2463-3 {
  background-color: var(--black);
  border: 1px none;
  height: 2269px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 400px;
}

.rectangle-2396-3 {
  border: 1px none;
  height: 20px;
  left: 158px;
  position: absolute;
  top: 20px;
  width: 98px;
}

.movecom-3 {
  left: 190px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.my-marketplace-2 {
  left: 58px;
  letter-spacing: 0;
  position: absolute;
  top: 127px;
  width: 698px;
}

.mask-group-25 {
  height: 147px;
  left: 11px;
  position: absolute;
  top: 210px;
  width: 363px;
}

.type-1-parc-paragon-2 {
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  top: 374px;
  width: 1194px;
}

.huai-khwang-bangkok-4 {
  left: 31px;
  letter-spacing: 0;
  position: absolute;
  top: 429px;
  width: 388px;
}

.group-7742-4 {
  height: 8px;
  left: 22px;
  position: absolute;
  top: 430px;
  width: 6px;
}

.booking-date-4 {
  left: 23px;
  letter-spacing: 0;
  position: absolute;
  top: 489px;
}

.overlap-group1-10 {
  height: 60px;
  left: 22px;
  position: absolute;
  top: 516px;
  width: 532px;
}

.rectangle-2480-2 {
  background-color: var(--white);
  border: 1px none;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 339px;
}

.place-23 {
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 357px;
}

.date-31 {
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
  width: 357px;
}

.end-4,
.end-5 {
  left: 175px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 357px;
}

.date-32 {
  left: 175px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
  width: 357px;
}

.line-628-2 {
  height: 49px;
  left: 165px;
  position: absolute;
  top: 5px;
  width: 1px;
}

.overlap-group2-8 {
  align-items: center;
  background: linear-gradient(180deg, rgb(249, 0, 192) 0%, rgb(62, 1, 255) 100%);
  border-radius: 8px;
  display: flex;
  height: 56px;
  left: 23px;
  min-width: 343px;
  padding: 0 46px;
  position: absolute;
  top: 625px;
}

.remove-from-marketplace-1,
.upload-media-3 {
  letter-spacing: 0;
  min-height: 24px;
  text-align: center;
  width: 246px;
}

.overlap-group3-7 {
  align-items: center;
  background: linear-gradient(180deg, rgb(249, 0, 192) 0%, rgb(62, 1, 255) 100%);
  border-radius: 8px;
  display: flex;
  height: 56px;
  left: 24px;
  min-width: 343px;
  padding: 0 46px;
  position: absolute;
  top: 1161px;
}

.booking-date-5 {
  left: 24px;
  letter-spacing: 0;
  position: absolute;
  top: 1019px;
}

.overlap-group4-7 {
  height: 60px;
  left: 23px;
  position: absolute;
  top: 1046px;
  width: 532px;
}

.mask-group-26 {
  height: 150px;
  left: 11px;
  position: absolute;
  top: 730px;
  width: 363px;
}

.type-2-parc-paragon-2 {
  left: 20px;
  letter-spacing: 0;
  position: absolute;
  top: 894px;
  width: 1194px;
}

.huai-khwang-bangkok-5 {
  left: 30px;
  letter-spacing: 0;
  position: absolute;
  top: 949px;
  width: 388px;
}

.vector-24 {
  height: 8px;
  left: 22px;
  position: absolute;
  top: 950px;
  width: 5px;
}

.group-7628 {
  height: 8px;
  left: 22px;
  position: absolute;
  top: 950px;
  width: 6px;
}

.arrow-left-line-3 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 131px;
  width: 24px;
}

