.group-7833 {
  height: 15px;
  margin-left: -292px;
  margin-right: -342.00px;
  min-width: 423px;
  position: relative;
}

.min-loop-1 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.number-12 {
  left: 62px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 357px;
}

.group-7833.group-7833-1,
.group-7833.group-7833-3,
.group-7833.group-7833-5 {
  margin-right: unset;
}

