.frame-7827 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  left: 17px;
  position: absolute;
  top: 432px;
  width: 338px;
}

.frame-7827.frame-7827-2 {
  left: 22px;
  top: 452px;
}

