.profile-9 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 716px;
  overflow: hidden;
  width: 100%;
}

.overlap-group4 {
  height: 813px;
  margin-left: -89px;
  margin-top: -96.0px;
  position: relative;
  width: 464px;
}

.rectangle-2512-1 {
  background-color: var(--black);
  border: 1px none;
  height: 721px;
  left: 89px;
  position: absolute;
  top: 91px;
  width: 100%;
}

.chat {
  left: 239px;
  letter-spacing: 0;
  position: absolute;
  top: 126px;
  width: 75px;
}

.vector {
  height: 14px;
  left: 106px;
  position: absolute;
  top: 132px;
  width: 16px;
}

.group-7951 {
  background-color: var(--steel-gray);
  height: 642px;
  left: 89px;
  position: absolute;
  top: 171px;
  width: 100%;
}

.group-7961 {
  background-color: var(--stratos);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 23.5px/20.72px;
  height: 41px;
  left: 106px;
  position: absolute;
  top: 204px;
  width: 47px;
}

.m {
  left: 120px;
  letter-spacing: 0;
  position: absolute;
  top: 212px;
  width: 19px;
}

.momee-klouh {
  left: 166px;
  letter-spacing: 0;
  position: absolute;
  top: 213px;
}

.text-3 {
  left: 166px;
  letter-spacing: 0;
  position: absolute;
  top: 233px;
}

.text-4 {
  left: 166px;
  letter-spacing: 0;
  position: absolute;
  top: 307px;
}

.date {
  left: 409px;
  letter-spacing: 0;
  position: absolute;
  top: 213px;
}

.overlap-group1-2 {
  align-items: flex-start;
  background-color: var(--winter-sky);
  border-radius: 6px;
  display: flex;
  height: 12px;
  left: 244px;
  min-width: 12px;
  padding: 0.0px 3.4px;
  position: absolute;
  top: 215px;
}

.number {
  letter-spacing: 0;
  min-height: 10px;
  width: 4px;
}

.group-7961-1 {
  background-color: var(--winter-sky);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 23.5px/20.72px;
  height: 41px;
  left: 106px;
  position: absolute;
  top: 280px;
  width: 47px;
}

.price {
  left: 125px;
  letter-spacing: 0;
  position: absolute;
  top: 288px;
  width: 19px;
}

.pimploy-wee {
  left: 166px;
  letter-spacing: 0;
  position: absolute;
  top: 289px;
}

.date-1 {
  left: 409px;
  letter-spacing: 0;
  position: absolute;
  top: 289px;
}

.overlap-group2-1 {
  align-items: flex-start;
  background-color: var(--winter-sky);
  border-radius: 6px;
  display: flex;
  height: 12px;
  left: 235px;
  min-width: 12px;
  padding: 0.0px 3.4px;
  position: absolute;
  top: 291px;
}

.line-638 {
  height: 1px;
  left: 89px;
  position: absolute;
  top: 264px;
  width: 100%;
}

.text-5 {
  left: 166px;
  letter-spacing: 0;
  position: absolute;
  top: 389px;
}

.group-7961-2 {
  background-color: var(--winter-sky);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 23.5px/20.72px;
  height: 41px;
  left: 106px;
  position: absolute;
  top: 363px;
  width: 47px;
}

.price-1 {
  left: 125px;
  letter-spacing: 0;
  position: absolute;
  top: 370px;
  width: 19px;
}

.jeab {
  left: 166px;
  letter-spacing: 0;
  position: absolute;
  top: 371px;
}

.date-2 {
  left: 409px;
  letter-spacing: 0;
  position: absolute;
  top: 371px;
}

.overlap-group3 {
  align-items: flex-start;
  background-color: var(--winter-sky);
  border-radius: 6px;
  display: flex;
  height: 12px;
  left: 197px;
  min-width: 12px;
  padding: 0.0px 3.4px;
  position: absolute;
  top: 373px;
}

.line-639 {
  height: 1px;
  left: 89px;
  position: absolute;
  top: 346px;
  width: 100%;
}

