.profile-8 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 829px;
  overflow: hidden;
  width: 100%;
  margin-top: -60px;
}

.overlap-group4-4 {
  height: 836px;
  margin-left: -2px;
  position: relative;
  width: 752px;
}

.rectangle-2512-3 {
  background-color: var(--black);
  border: 1px none;
  height: 836px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.line-637-1 {
  height: 1px;
  left: 3px;
  position: absolute;
  top: 114px;
  width: 100%;
}

.my-media-1 {
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  top: 137px;
  width: 698px;
}

.group-8085 {
  height: 43px;
  left: 302px;
  position: absolute;
  top: 201px;
  width: 43px;
}

.my-booking-1 {
  left: 26px;
  letter-spacing: 0;
  position: absolute;
  top: 254px;
  width: 55px;
}

.to-upload-1 {
  left: 120px;
  letter-spacing: 0;
  position: absolute;
  top: 254px;
  width: 81px;
}

.my-status-1 {
  left: 211px;
  letter-spacing: 0;
  opacity: 0.8;
  position: absolute;
  top: 254px;
  width: 83px;
}

.ads-on-air-1 {
  left: 304px;
  letter-spacing: 0;
  position: absolute;
  top: 254px;
  width: 117px;
}

.overlap-group-30 {
  align-items: flex-start;
  background-color: var(--winter-sky);
  border-radius: 7.5px;
  display: flex;
  height: 15px;
  left: 146px;
  min-width: 15px;
  padding: 1px 5px;
  position: absolute;
  top: 199px;
}

.number-6 {
  letter-spacing: 0;
  min-height: 12px;
}

.overlap-group1-6 {
  align-items: flex-start;
  background-color: var(--winter-sky);
  border-radius: 7.5px;
  display: flex;
  height: 15px;
  left: 334px;
  min-width: 15px;
  padding: 1px 6px;
  position: absolute;
  top: 199px;
}

.history-1 {
  left: 307px;
  letter-spacing: 0;
  position: absolute;
  text-decoration: underline;
  top: 142px;
}

.group-7951-3 {
  background-color: var(--steel-gray);
  height: 336px;
  left: 2px;
  position: absolute;
  top: 453px;
  width: 100%;
}

.line-638-3 {
  height: 1px;
  left: 2px;
  position: absolute;
  top: 563px;
  width: 100%;
}

.my-wallet-1 {
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  top: 479px;
  width: 698px;
}

.my-benefit-1 {
  left: 58px;
  letter-spacing: 0;
  position: absolute;
  top: 523px;
  width: 208px;
}

.vector-21 {
  height: 20px;
  left: 23px;
  position: absolute;
  top: 519px;
  width: 18px;
}

.arrow-down-s-line-2-1 {
  height: 19px;
  left: 351px;
  position: absolute;
  top: 532px;
  width: 19px;
}

.arrow-down-s-line-3-1 {
  height: 19px;
  left: 352px;
  position: absolute;
  top: 588px;
  width: 19px;
}

.move-token-1 {
  left: 58px;
  letter-spacing: 0;
  position: absolute;
  top: 586px;
  width: 208px;
}

.group-7877-4 {
  height: 22px;
  left: 20px;
  position: absolute;
  top: 585px;
  width: 25px;
}

.lorem-ipsum-is-simpl-1 {
  left: 23px;
  letter-spacing: 0;
  position: absolute;
  top: 624px;
}

.phasika-pathomwong-2 {
  left: 86px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 35px;
}

.carepasikagmailcom-1 {
  left: 88px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 64px;
}

.overlap-group2-5 {
  align-items: flex-start;
  background-color: var(--winter-sky);
  border-radius: 10.5px;
  display: flex;
  height: 21px;
  left: 179px;
  min-width: 21px;
  padding: 0 6px;
  position: absolute;
  top: 335px;
}

.number-7 {
  letter-spacing: 0;
  min-height: 17px;
  width: 7px;
}

.my-marketplace-1 {
  left: 23px;
  letter-spacing: 0;
  position: absolute;
  top: 334px;
  width: 698px;
}

.line-638-4 {
  height: 1px;
  left: 3px;
  position: absolute;
  top: 311px;
  width: 374px;
}

.line-639-2 {
  height: 1px;
  left: 3px;
  position: absolute;
  top: 383px;
  width: 374px;
}

.overlap-group3-4 {
  align-items: flex-start;
  background-color: var(--winter-sky);
  border-radius: 10.5px;
  display: flex;
  height: 21px;
  left: 110px;
  min-width: 21px;
  padding: 1px 3px;
  position: absolute;
  top: 406px;
}

.number-8 {
  letter-spacing: 0;
  min-height: 17px;
  width: 15px;
}

.chat-2 {
  left: 54px;
  letter-spacing: 0;
  position: absolute;
  top: 403px;
  width: 698px;
}

.group-7987-1 {
  height: 21px;
  left: 19px;
  position: absolute;
  top: 404px;
  width: 24px;
}

