.group-7786,
.group-7786-1,
.group-7786-2,
.group-7786-3,
.group-7786-4,
.group-7786-5,
.group-7786-6,
.group-7786-7,
.group-7786-8,
.group-7786-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.0px;
  min-height: 15px;
  width: 18px;
}

.rectangle-2398,
.rectangle-2398-1,
.rectangle-2398-2,
.rectangle-2398-3,
.rectangle-2398-4,
.rectangle-2398-5,
.rectangle-2398-6,
.rectangle-2398-7,
.rectangle-2398-8,
.rectangle-2398-9 {
  background-color: var(--white);
  border: 1px none;
  height: 2px;
  width: 18px;
}

.rectangle-2399,
.rectangle-2399-1,
.rectangle-2399-2,
.rectangle-2399-3,
.rectangle-2399-4,
.rectangle-2399-5,
.rectangle-2399-6,
.rectangle-2399-7,
.rectangle-2399-8,
.rectangle-2399-9 {
  background-color: var(--white);
  border: 1px none;
  height: 2px;
  margin-top: 5px;
  width: 18px;
}

.rectangle-2400,
.rectangle-2400-1,
.rectangle-2400-2,
.rectangle-2400-3,
.rectangle-2400-4,
.rectangle-2400-5,
.rectangle-2400-6,
.rectangle-2400-7,
.rectangle-2400-8,
.rectangle-2400-9 {
  background-color: var(--white);
  border: 1px none;
  height: 2px;
  margin-top: 4px;
  width: 18px;
}

