.group-7765 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 21.53px;
  display: flex;
  height: 43px;
  left: 116px;
  min-width: 43px;
  padding: 9.7px 9.7px;
  position: absolute;
  top: 201px;
}

.icon-upload_arrow {
  height: 22px;
  width: 22px;
}

.group-7765.group-7765-1 {
  left: 118px;
}

