.release-to-marketplace-3 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  gap: 347px;
  height: 1698px;
  overflow: hidden;
  width: 100%;
}

.group-7781-11 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 922px;
  margin-left: -1787px;
  margin-top: 502px;
  min-height: 1215px;
  position: relative;
  width: 1440px;
}

.rectangle-2394-11 {
  background-color: var(--white);
  border: 1px none;
  box-shadow: 0px 4px 20px #00000026;
  height: 249px;
  width: 1440px;
}

.overlap-group4-12 {
  height: 2284px;
  margin-top: -111px;
  position: relative;
  width: 719px;
}

.rectangle-2463-9 {
  background-color: var(--black);
  border: 1px none;
  height: 2269px;
  left: 1px;
  position: absolute;
  top: 15px;
  width: 100%;
}

.group-7883-2 {
  background-color: var(--steel-gray);
  height: 298px;
  left: 2px;
  position: absolute;
  top: 830px;
  width: 100%;
}

.rectangle-2396-9 {
  border: 1px none;
  height: 20px;
  left: 153px;
  position: absolute;
  top: 0;
  width: 98px;
}

.rectangle-2448-8 {
  background-color: var(--mid-gray);
  border: 1px none;
  height: 17px;
  left: 144px;
  position: absolute;
  top: 3px;
  width: 139px;
}

.movecom-9 {
  left: 153px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.parc-paragon-the-9-11 {
  left: 21px;
  letter-spacing: 0;
  position: absolute;
  top: 118px;
  width: 698px;
}

.address-chaturathit-4 {
  left: 36px;
  letter-spacing: 0;
  position: absolute;
  top: 203px;
  width: 466px;
}

.group-7629-4 {
  height: 14px;
  left: 21px;
  position: absolute;
  top: 202px;
  width: 10px;
}

.format-customized-1 {
  left: 19px;
  letter-spacing: 0;
  position: absolute;
  top: 236px;
}

.detail-booking-1 {
  left: 31px;
  letter-spacing: 0;
  position: absolute;
  top: 569px;
}

.set-date-to-sell {
  left: 17px;
  letter-spacing: 0;
  position: absolute;
  top: 870px;
}

.set-price {
  left: 17px;
  letter-spacing: 0;
  position: absolute;
  top: 999px;
}

.overlap-group2-16 {
  height: 71px;
  left: 17px;
  position: absolute;
  top: 612px;
  width: 506px;
}

.group-7905-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  left: 0;
  min-height: 71px;
  position: absolute;
  top: 0;
  width: 506px;
}

.flex-row-10 {
  align-items: flex-end;
  display: flex;
  gap: 6px;
  height: 38px;
  min-width: 492px;
}

.flex-col-29 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 38px;
  width: 80px;
}

.flex-col-item-12 {
  letter-spacing: 0;
  min-height: 15px;
}

.overlap-group-38 {
  height: 37px;
  position: relative;
  width: 406px;
}

.your-art-work-will-4 {
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 388px;
}

.number-20 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 22px;
  width: 357px;
}

.flex-row-11 {
  align-items: flex-start;
  display: flex;
  gap: 6px;
  min-width: 459px;
}

.min-loop-7 {
  letter-spacing: 0;
  min-height: 15px;
  min-width: 55px;
}

.overlap-group1-18 {
  height: 26px;
  position: relative;
  width: 398px;
}

.x2-minutes-per-1-available-pack-4 {
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 388px;
}

.number-21 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 357px;
}

.address-9 {
  left: 55px;
  letter-spacing: 0;
  position: absolute;
  top: 1px;
  width: 357px;
}

.rectangle-2477-1 {
  background-color: var(--shocking-pink);
  border: 1px none;
  height: 4px;
  left: 4px;
  position: absolute;
  top: 578px;
  transform: rotate(-90.00deg);
  width: 30px;
}

.booking-date-16 {
  left: 19px;
  letter-spacing: 0;
  position: absolute;
  top: 702px;
}

.overlap-group3-14 {
  height: 60px;
  left: 18px;
  position: absolute;
  top: 729px;
  width: 537px;
}

.rectangle-2480-6 {
  background-color: var(--white);
  border: 1px none;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 339px;
}

.place-27 {
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 357px;
}

.date-39 {
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
  width: 357px;
}

.end-9 {
  left: 180px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 357px;
}

.date-40 {
  left: 180px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
  width: 357px;
}

.line-628-6 {
  height: 49px;
  left: 170px;
  position: absolute;
  top: 5px;
  width: 1px;
}

.line-629-1 {
  height: 1px;
  left: 18px;
  position: absolute;
  top: 949px;
  width: 343px;
}

.line-631-1 {
  height: 1px;
  left: 103px;
  position: absolute;
  top: 1057px;
  width: 74px;
}

.date-41 {
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  top: 918px;
  width: 75px;
}

.date-42 {
  left: 213px;
  letter-spacing: 0;
  position: absolute;
  top: 918px;
  width: 82px;
}

.line-628-7 {
  height: 37px;
  left: 191px;
  position: absolute;
  top: 906px;
  width: 1px;
}

.current-price {
  left: 17px;
  letter-spacing: 0;
  position: absolute;
  top: 1043px;
}

.price-5 {
  left: 184px;
  letter-spacing: 0;
  position: absolute;
  top: 1044px;
  width: 357px;
}

.text-16 {
  left: 122px;
  letter-spacing: 0;
  position: absolute;
  top: 1040px;
  width: 357px;
}

.text-17 {
  color: var(--shocking-pink);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 300;
  left: 141px;
  letter-spacing: 0;
  position: absolute;
  top: 1073px;
}

.platform-fee-is-sold {
  left: 17px;
  letter-spacing: 0;
  position: absolute;
  top: 1073px;
  width: 357px;
}

.group-7911 {
  background: linear-gradient(180deg, rgb(249, 0, 192) 0%, rgb(62, 1, 255) 100%);
  border-radius: 8px;
  height: 56px;
  left: 19px;
  position: absolute;
  top: 1174px;
  width: 343px;
}

.release-to-marketplace-4 {
  left: 65px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 1189px;
  width: 246px;
}

.cancle-3 {
  left: 65px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 1263px;
  width: 246px;
}

.group-7912-3 {
  border-radius: 8px;
  height: 56px;
  left: 19px;
  position: absolute;
  top: 1248px;
  width: 343px;
  border: 5px solid rgb(249, 0, 192);
}

