.upload-status-2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  gap: 270px;
  height: 1096px;
  overflow: hidden;
  width: 100%;
}

.group-7781-8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 347px;
  margin-left: -1787px;
  margin-top: 502px;
  min-height: 543px;
  position: relative;
  width: 1440px;
}

.rectangle-2394-8 {
  background-color: var(--white);
  border: 1px none;
  box-shadow: 0px 4px 20px #00000026;
  height: 152px;
  width: 1440px;
}

.overlap-group4-9 {
  height: 2432px;
  margin-top: -120px;
  position: relative;
  width: 793px;
}

.rectangle-2463-6 {
  background-color: var(--black);
  border: 1px none;
  height: 2408px;
  left: 77px;
  position: absolute;
  top: 24px;
  width: 100%;
}

.ellipse-container-4 {
  height: 212px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}

.ellipse-441-4 {
  background-color: var(--royal-blue);
  border: 1px none;
  border-radius: 87.5px;
  height: 175px;
  left: 0;
  position: absolute;
  top: 0;
  width: 175px;
}

.ellipse-442-4 {
  background-color: var(--shocking-pink);
  border: 1px none;
  border-radius: 69.5px;
  height: 139px;
  left: 133px;
  position: absolute;
  top: 73px;
  width: 139px;
}

.rectangle-2396-6 {
  border: 1px none;
  height: 20px;
  left: 229px;
  position: absolute;
  top: 9px;
  width: 98px;
}

.rectangle-2448-5 {
  background-color: var(--mid-gray);
  border: 1px none;
  height: 17px;
  left: 220px;
  position: absolute;
  top: 12px;
  width: 139px;
}

.movecom-6 {
  left: 229px;
  letter-spacing: 0;
  position: absolute;
  top: 9px;
}

.parc-paragon-the-9-8 {
  left: 95px;
  letter-spacing: 0;
  position: absolute;
  top: 142px;
  width: 698px;
}

.group-7730-1 {
  align-items: flex-start;
  display: flex;
  gap: 5px;
  height: 29px;
  left: 95px;
  min-width: 483px;
  position: absolute;
  top: 211px;
}

.group-7629-1 {
  height: 13px;
  margin-top: 0;
  width: 10px;
}

.address-chaturathit-1 {
  align-self: flex-end;
  letter-spacing: 0;
  min-height: 12px;
  width: 466px;
}

.overlap-group2-11 {
  height: 32px;
  left: 93px;
  position: absolute;
  top: 275px;
  width: 113px;
}

.checking-1 {
  left: 34px;
  letter-spacing: 0;
  position: absolute;
  top: 7px;
  width: 79px;
}

.icon-clock-1 {
  height: 18px;
  left: 8px;
  position: absolute;
  top: 7px;
  width: 18px;
}

.text-12 {
  left: 204px;
  letter-spacing: 0;
  position: absolute;
  top: 278px;
  width: 357px;
}

.preview-1 {
  left: 93px;
  letter-spacing: 0;
  position: absolute;
  top: 345px;
}

.mask-group-27 {
  height: 147px;
  left: 77px;
  position: absolute;
  top: 386px;
  width: 100%;
}

.group-7951-4 {
  background-color: var(--steel-gray);
  height: 299px;
  left: 76px;
  position: absolute;
  top: 533px;
  width: 100%;
}

