.group-7919-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2px;
  left: 154px;
  min-width: 278px;
  position: absolute;
  top: 1232px;
}

.rectangle-2450 {
  background-color: var(--shocking-pink);
  border: 1px none;
  height: 2px;
  width: 278px;
}

.group-7919-1.group-7921 {
  top: 1305px;
}

.group-7919-1.group-7938 {
  top: 1378px;
}

.group-7919-1.group-7939 {
  top: 1454px;
}

.group-7919-1.group-7940 {
  top: 1530px;
}

.group-7919-1.group-7941 {
  top: 1606px;
}

