.group-7953,
.group-7953-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  left: 93px;
  min-height: 207px;
  position: absolute;
  top: 582px;
  width: 540px;
}

.booking-date-13,
.booking-date-14 {
  letter-spacing: 0;
  min-height: 15px;
  width: 357px;
}

.group-7952,
.group-7952-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 1px;
  min-height: 178px;
  width: 539px;
}

.overlap-group-34,
.overlap-group-35 {
  height: 60px;
  position: relative;
  width: 537px;
}

.rectangle-2480-3,
.rectangle-2480-4 {
  background-color: var(--white);
  border: 1px none;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 339px;
}

.place-24,
.place-25 {
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 357px;
}

.date-33,
.date-35 {
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
  width: 357px;
}

.end-6,
.end-7 {
  left: 180px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 357px;
}

.date-34,
.date-36 {
  left: 180px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
  width: 357px;
}

.line-628-3,
.line-628-4 {
  height: 49px;
  left: 170px;
  position: absolute;
  top: 5px;
  width: 1px;
}

.overlap-group3-10,
.overlap-group3-11 {
  height: 98px;
  position: relative;
  width: 508px;
}

.group-7951-5,
.group-7951-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 98px;
  position: absolute;
  top: 0;
  width: 508px;
}

.overlap-group1-14,
.overlap-group2-13 {
  height: 15px;
  position: relative;
  width: 432px;
}

.march-62022-7,
.march-62022-8 {
  left: 75px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 357px;
}

.uplode-date-7,
.uplode-date-8 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 357px;
}

.flex-row-4,
.flex-row-6 {
  align-items: flex-end;
  display: flex;
  gap: 6px;
  height: 38px;
  margin-top: 12px;
  min-width: 492px;
}

.flex-col-26,
.flex-col-27 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 38px;
  width: 80px;
}

.flex-col-item-9,
.flex-col-item-10 {
  letter-spacing: 0;
  min-height: 15px;
}

.overlap-group2-12,
.overlap-group1-15 {
  height: 37px;
  position: relative;
  width: 406px;
}

.your-art-work-will-1,
.your-art-work-will-2 {
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 388px;
}

.number-16,
.number-17 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 22px;
  width: 357px;
}

.flex-row-5,
.flex-row-7 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  height: 26px;
  margin-top: 7px;
  min-width: 459px;
}

.min-loop-4,
.min-loop-5 {
  letter-spacing: 0;
  min-height: 15px;
  min-width: 55px;
}

.x2-minutes-per-1-available-pack-1,
.x2-minutes-per-1-available-pack-2 {
  letter-spacing: 0;
  min-height: 26px;
  width: 388px;
}

.address-6,
.address-7 {
  left: 55px;
  letter-spacing: 0;
  position: absolute;
  top: 27px;
  width: 357px;
}

