.my-booking-2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  gap: 347px;
  height: 1785px;
  overflow: hidden;
  width: 100%;
}

.group-7781-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 941px;
  margin-left: -1787px;
  margin-top: 502px;
  min-height: 1237px;
  position: relative;
  width: 1440px;
}

.rectangle-2394-1 {
  background-color: var(--white);
  border: 1px none;
  box-shadow: 0px 4px 20px #00000026;
  height: 252px;
  width: 1440px;
}

.overlap-group5-3 {
  height: 2284px;
  margin-top: -90px;
  position: relative;
  width: 1211px;
}

.rectangle-2463-1 {
  background-color: var(--black);
  border: 1px none;
  height: 2269px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 100%;
}

.rectangle-2396-1 {
  border: 1px none;
  height: 20px;
  left: 152px;
  position: absolute;
  top: 0;
  width: 98px;
}

.rectangle-2448-1 {
  background-color: var(--mid-gray);
  border: 1px none;
  height: 17px;
  left: 143px;
  position: absolute;
  top: 3px;
  width: 139px;
}

.movecom-1 {
  left: 152px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.mask-group-21 {
  height: 147px;
  left: 0;
  position: absolute;
  top: 190px;
  width: 100%;
}

.type-1-parc-paragon {
  left: 17px;
  letter-spacing: 0;
  position: absolute;
  top: 354px;
  width: 1194px;
}

.huai-khwang-bangkok {
  left: 26px;
  letter-spacing: 0;
  position: absolute;
  top: 409px;
  width: 388px;
}

.group-7742 {
  height: 8px;
  left: 17px;
  position: absolute;
  top: 411px;
  width: 6px;
}

.booking-date {
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  top: 469px;
}

.overlap-group1-7 {
  height: 60px;
  left: 17px;
  position: absolute;
  top: 496px;
  width: 537px;
}

.rectangle-2480 {
  background-color: var(--white);
  border: 1px none;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 339px;
}

.place-21 {
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 357px;
}

.date-27 {
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
  width: 357px;
}

.end,
.end-1 {
  left: 180px;
  letter-spacing: 0;
  position: absolute;
  top: 11px;
  width: 357px;
}

.date-28 {
  left: 180px;
  letter-spacing: 0;
  position: absolute;
  top: 26px;
  width: 357px;
}

.line-628 {
  height: 49px;
  left: 170px;
  position: absolute;
  top: 5px;
  width: 1px;
}

.booking-date-1 {
  left: 18px;
  letter-spacing: 0;
  position: absolute;
  top: 1114px;
}

.overlap-group4-5 {
  height: 60px;
  left: 17px;
  position: absolute;
  top: 1141px;
  width: 537px;
}

.mask-group-22 {
  height: 150px;
  left: 0;
  position: absolute;
  top: 807px;
  width: 100%;
}

.type-2-parc-paragon {
  left: 15px;
  letter-spacing: 0;
  position: absolute;
  top: 979px;
  width: 1194px;
}

.huai-khwang-bangkok-1 {
  left: 24px;
  letter-spacing: 0;
  position: absolute;
  top: 1044px;
  width: 388px;
}

.group-7742-1 {
  height: 8px;
  left: 15px;
  position: absolute;
  top: 1046px;
  width: 6px;
}

.vector-22 {
  height: 15px;
  left: 16px;
  position: absolute;
  top: 113px;
  width: 16px;
}

.group-7995 {
  align-items: flex-start;
  display: flex;
  gap: 3px;
  height: 98px;
  left: 17px;
  min-width: 727px;
  position: absolute;
  top: 108px;
}

.arrow-left-line-1 {
  height: 24px;
  margin-top: 6px;
  width: 24px;
}

.my-booking-3 {
  letter-spacing: 0;
  min-height: 98px;
  width: 698px;
}

